.THIS .inline-divs > div {
  display: inline-block;
}

.THIS .slds-badge {
  background-color: #04844b;
  color: #fff;
}
.THIS .relative-button {
    position: relative;
}

.THIS .slds-checkbox_on{
    display:none !important;
}
.THIS .slds-checkbox_faux{
    background-color: rgb(1, 118, 211);
    border-color: rgb(1, 118, 211);
}
.THIS .contactPhone > a {
    color: black !important;
    font-weight: 700 !important;
}
.THIS .slds-box{
    margin:15px;
}
.THIS .timer{
    font-size: 14px;
	font-weight: bold;
    display:inline;
    margin-left: 7px;
}