.THIS h1{
    font-size:16px
}
.THIS .centertext{
    text-align:center;
}
.THIS .padding20{
    padding:20px 0;
}
.THIS .marginauto{
    margin:0 auto;
}
.THIS .slds-modal__container,.THIS.slds-modal__container{
    max-width: 100% !important;
    width:80% !important;
}
.THIS .slds-modal__content{
    min-height:600px!important;
}