.spinner-container{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 220px;
}

.content-container{
    width: 100%;
}

.einstein-icon {
    --sds-c-icon-color-foreground-default: #1b96ff;
  }

.ribbon-icon{
  --slds-c-icon-color-background: #5867E8;
}