c-omniscript-multiselect[data-omni-key='rdHurdles'] .vlc-img-wrapper {margin-bottom:0 !important}
vlocity_ins-omniscript-multiselect[data-omni-key='rdHurdles'] .vlc-img-wrapper {margin-bottom:0 !important}

c-omniscript-multiselect[data-omni-key='rdHurdles'] .slds-img-item_select-container {
	border-radius:10px;  !important;
	text-align:center !important;
	}
	
vlocity_ins-omniscript-multiselect[data-omni-key='rdHurdles'] .slds-img-item_select-container {
	border-radius:10px;  !important;
	text-align:center !important;
	}
	
.omniscript-btn-save-for-later {font-size:13px !important;}

c-omniscript-step .slds-form-element__legend {font-weight:unset !important;}
vlocity_ins-omniscript-step .slds-form-element__legend {font-weight:unset !important;}

vlocity_ins-omniscript-text-block[data-omni-key='prodCardCarLoan'] {
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
        border-radius: 25px;
        padding: 20px;
}
c-omniscript-text-block[data-omni-key='prodCardCarLoan'] {
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
        border-radius: 25px;
        padding: 20px;
}
vlocity_ins-omniscript-text-block[data-omni-key='prodCardWBVisa'] {
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
        border-radius: 25px;
        padding: 20px;
}
c-omniscript-text-block[data-omni-key='prodCardWBVisa'] {
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
        border-radius: 25px;
        padding: 20px;
}
vlocity_ins-omniscript-text-block[data-omni-key='prodCardSavAccount'] {
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
        border-radius: 25px;
        padding: 20px;
}
c-omniscript-text-block[data-omni-key='prodCardSavAccount'] {
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
        border-radius: 25px;
        padding: 20px;
}


runtime_omnistudio_omniscript-omniscript-set-values[data-omni-key='svShowEdit'] button {  
    border: none !important;
	background-color:transparent !important;
    width: 20px !important;
    margin-left:-55px;
    margin-top:15px;
}    
runtime_omnistudio_omniscript-omniscript-set-values[data-omni-key='svShowEdit'] button:focus {  
     outline: 0 !important;
     box-shadow: unset !important;
}   
vlocity_ins-omniscript-set-values[data-omni-key='svShowEdit'] button {  
    border: none !important;
	background-color:transparent !important;
    width: 20px !important;
    margin-left:-55px;
    margin-top:15px;
}    
vlocity_ins-omniscript-set-values[data-omni-key='svShowEdit'] button:focus {  
     outline: 0 !important;
     box-shadow: unset !important;
}   
c-omniscript-set-values[data-omni-key='svShowEdit'] button {  
    border: none !important;
	background-color:transparent !important;
    width: 20px !important;
    margin-left:-55px;
    margin-top:15px;
} 
c-omniscript-set-values[data-omni-key='svShowEdit'] button:focus {  
     outline: 0 !important;
     box-shadow: unset !important;
}