.GWScreenContainer {
    /* padding: 0 60px; */
    width: 580px;
    margin: auto;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    color:rgb(8, 7, 7);
}

.GWScreenContainer  .btn-groupToggleButton {
    padding-top: 5px;
}

.GWScreenContainer  .btn-groupToggleButton .slds-button{
    color: #999 !important;
    border-color: #ccc !important;
    line-height: 1.3rem!important;
    border-radius: 2px!important;
    font-weight: 550 !important;
    font-size: 13px !important;
    padding-left:0.5rem !important; 
    padding-right:0.5rem !important; 
}

.GWScreenContainer  .slds-button:active,
.GWScreenContainer  .slds-button:hover,
.GWScreenContainer  .slds-button::selection,
.GWScreenContainer  .slds-button.selectedToggleButtonType {
    color: #fff !important;
    background: #0070D2 !important;
}

.GWScreenContainer  .btn-groupToggleButton .slds-button:focus,
.GWScreenContainer  .inputElement .slds-input:focus,
.GWScreenContainer  .inputElement .slds-select:focus{
    box-shadow: none !important;
}

.GWScreenContainer  .slds-button.slds-button_brand {
    background: #0070D2 !important;
    border-color: #0070D2 !important;
}

.GWScreenContainer  .inputLabel {
    display: inline-flex;
    color: #999;
    width: 20%;
    font-size: 12px;
    font-weight: 520;
    position:relative;
    vertical-align: text-top;
}

.GWScreenContainer  .inputLabel span.label{
    position: absolute;
    right: 25px;
}

.GWScreenContainer  .inputElement {
    display: inline-flex;
    width: 80%;
}

.GWScreenContainer  .slds-button,
.GWScreenContainer  .inputElement .slds-input,
.GWScreenContainer  .inputElement .slds-select {
    border-radius: 2px !important;
    border-color: #ccc !important;
}

.GWScreenContainer  span.asterisk {
    color: red;
    padding-left: 7px;
}

.GWScreenContainer  .div-footer {
    text-align: right;
}


.GWScreenContainer  .btn-footer .slds-button {
    border-color: #ccc !important;
    width: 25% !important;
    display: inline-block;
}

.GWScreenContainer .sectionTitle {
    background: #EAEAE8;
    line-height: 1.8rem;
}

.GWScreenContainer .sectionTitle span.title{
    font-weight: 500;
    padding-left: 0.5rem;
}