/* FSC Confirmation Text Blocks*/
[data-omni-key="ConfirmationMessageBlock"]{
    margin-left:12px;
} 
[data-omni-key="CaseDetailBlock"]{
    margin-left:12px;
}
/*Styling for the payee name on cards*/
[data-omni-key="NewStandingInstruction"] > div > div > div > div > div div:first-child {
    font-weight: bold;
    font-size: 12px;
	color: #242424;
}
/*To reduce the space vertically between Header and edit block*/
.omni-edit-block{
    margin-top: -30px;
}
/*Manage Standing Instructions show existing standing instructions*/
[data-omni-key="ShowAddedStandingInstructions"],[data-omni-key="UpdateExistingTransactions"]{
    border: 1px solid #cccccc;
    border-radius: 0.25em;
    width: 98.7% !important;
    margin-top: -5px;
    padding-left: 10px;
    padding-bottom: 15px;
}
/*This is to apply border only to the highest division of flexcard*/
[data-omni-key="ShowAddedStandingInstructions"] *{
    border: none;
}
/*This is to apply border only to the highest division of flexcard*/
[data-omni-key="UpdateExistingTransactions"] *{
    border: none;
}
[data-omni-key="ShowExistingSITextBlock"]{
    flex-grow: 2 !important;
}
/*Styling for 'Select All', 'Deselect All' buttons*/
[data-omni-key="SelectAllStandingInstructionAction"] .slds-button_brand{
    --sds-c-button-brand-color-background: white !important;
    --sds-c-button-brand-text-color: #0176D3 !important;
    --sds-c-button-brand-border-color: #0176D3 !important;
    width: auto;
}
[data-omni-key="SelectAllStandingInstructionAction"] .slds-button_brand:hover, .slds-button_brand:focus{
    background-color: white !important;
    border-color: #0176D3 !important;
    color: #0176D3 !important;
}
/*Styling for 'Select All' button*/
[data-omni-key="DeselectAllStandingInstructionAction"] .slds-button_brand{
    --sds-c-button-brand-color-background: white !important;
    --sds-c-button-brand-text-color: #0176D3 !important;
    --sds-c-button-brand-border-color: #0176D3 !important;
    width: auto;
}
[data-omni-key="DeselectAllStandingInstructionAction"] .slds-button_brand:hover, .slds-button_brand:focus{
    background-color: white !important;
    border-color: #0176D3 !important;
    color: #0176D3 !important;
}
[data-omni-key="SelectAllStandingInstructionAction"],[data-omni-key="DeselectAllStandingInstructionAction"]{
    text-align: right;
    width: auto !important;
}
/*Icon styling of edit block card*/
[data-omni-key="NewStandingInstruction"] .slds-icon_large{
    fill: #747474 !important;
    zoom: 75%;
    margin-right: 15px;
}
/*Add shadow to the edit block card to indicate that it's an editable card */
[data-omni-key="NewStandingInstruction"] > div > div > div{
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
}
/*Add shadow to the edit block card to indicate that it's an editable card */
[data-omni-key="Files"] {
    margin-top: -3px;
}
/*Documents Block styling*/
[data-omni-key="DocumentsBlock"]{
    margin-left: -24px;
}

/*Currency Code Picklist Height*/
[data-omni-key="Currency"] .dropdown-container{
	max-height: 200px !important;
}

@media screen and (max-width: 768px) {
	/*To make stepchart labels visible to customers in Mobile/Tablet View*/
	[data-omni-key="omniscriptStepChart"] .slds-progress__step-label{
		text-overflow: clip !important;
		white-space: normal !important;
		text-align: center !important;
		margin-top: 2px !important;
	}
	/*Manage Standing Instructions show existing standing instructions*/
    [data-omni-key="ShowAddedStandingInstructions"],[data-omni-key="UpdateExistingTransactions"]{
        width: 98.3% !important;
    }
    [data-omni-key="SelectAllStandingInstructionAction"],[data-omni-key="DeselectAllStandingInstructionAction"]{
        text-align: left;
    }
}


@media screen and (max-width: 479px) {
	/*Manage Standing Instructions show existing standing instructions*/
    [data-omni-key="ShowAddedStandingInstructions"],[data-omni-key="UpdateExistingTransactions"]{
        width: 97.3% !important;
    }

    [data-omni-key="ExistingStandingInstructionsHeader"]{
        margin-left: -20px;
    }
    [data-omni-key="AddDetailsExistingTransactions"]{
        width: 435px !important;
        margin-left: -20px;
        overflow-x: scroll;
    }
    [data-omni-key="SelectAllStandingInstructionAction"],[data-omni-key="DeselectAllStandingInstructionAction"]{
        text-align: left;
    }
}