/*Manage beneficiaries fetch beneficiaries button styling*/
[data-omni-key="FetchBeneficiaries"] .slds-button_brand{
    --sds-c-button-brand-color-background: white !important;
    --sds-c-button-brand-text-color: #0176D3 !important;
    --sds-c-button-brand-border-color: #0176D3 !important;
    margin-top: 20px !important;
    width: auto;
}

[data-omni-key="ShowExistingBeneficiaryTextBlock"],[data-omni-key="ShowSelectedAccountsTextBlock"]{
    flex-grow: 2 !important;
}
[data-omni-key="SelectAllBeneficiaries"],[data-omni-key="DeselectAllBeneficiaries"]{
    text-align: right;
    width: auto !important;
}
[data-omni-key="SelectAllAccounts"],[data-omni-key="DeselectAllAccounts"]{
    text-align: right;
    margin-right: 10px !important;
    width: auto !important;
}

/*Manage beneficiaries Select All button styling*/
[data-omni-key="SelectAllBeneficiaries"] .slds-button_brand{
    --sds-c-button-brand-color-background: white !important;
    --sds-c-button-brand-text-color: #0176D3 !important;
    --sds-c-button-brand-border-color: #0176D3 !important;
    width: auto;
}
/*Manage beneficiaries Select All Accounts button styling*/
[data-omni-key="DeselectAllBeneficiaries"] .slds-button_brand{
    --sds-c-button-brand-color-background: white !important;
    --sds-c-button-brand-text-color: #0176D3 !important;
    --sds-c-button-brand-border-color: #0176D3 !important;
    width: auto;
}
/*Manage beneficiaries Select All button styling when hovered over*/
[data-omni-key="SelectAllBeneficiaries"] .slds-button_brand:hover, .slds-button_brand:focus{
    background-color: white !important;
    border-color: #0176D3 !important;
    color: #0176D3 !important;
}
/*Manage beneficiaries Deselect All Accounts button styling when hovered over*/
[data-omni-key="DeselectAllBeneficiaries"] .slds-button_brand:hover, .slds-button_brand:focus{
    background-color: white !important;
    border-color: #0176D3 !important;
    color: #0176D3 !important;
}

/*Manage beneficiaries Select All Accounts button styling*/
[data-omni-key="SelectAllAccounts"] .slds-button_brand{
    --sds-c-button-brand-color-background: white !important;
    --sds-c-button-brand-text-color: #0176D3 !important;
    --sds-c-button-brand-border-color: #0176D3 !important;
    margin-top: -6px !important;
    width: auto;
}
/*Manage beneficiaries Deselect All Accounts button styling*/
[data-omni-key="DeselectAllAccounts"] .slds-button_brand{
    --sds-c-button-brand-color-background: white !important;
    --sds-c-button-brand-text-color: #0176D3 !important;
    --sds-c-button-brand-border-color: #0176D3 !important;
    margin-top: -6px !important;
    width: auto;
}
[data-omni-key="SelectExistingBeneficiariesShowFinancialAccounts"] .dropdown-container{
	max-height: 120px !important;
}

/*Manage beneficiaries Fetch Beneficiaries button styling when hovered over*/
[data-omni-key="FetchBeneficiaries"] .slds-button_brand:hover, .slds-button_brand:focus{
    background-color: white !important;
    border-color: #0176D3 !important;
    color: #0176D3 !important;
}

/*Manage beneficiaries Select All Accounts button styling when hovered over*/
[data-omni-key="SelectAllAccounts"] .slds-button_brand:hover, .slds-button_brand:focus{
    background-color: white !important;
    border-color: #0176D3 !important;
    color: #0176D3 !important;
}
/*Manage beneficiaries Select All Accounts button styling when hovered over*/
[data-omni-key="DeselectAllAccounts"] .slds-button_brand:hover, .slds-button_brand:focus{
    background-color: white !important;
    border-color: #0176D3 !important;
    color: #0176D3 !important;
}

/*Add shadow to the edit block card to indicate that it's an editable card */
[data-omni-key="NewPrimaryBeneficiaries"] > div > div > div, [data-omni-key="NewContingentBeneficiaries"] > div > div > div {
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
}

/*Manage Beneficiaries Select Existing beneficiary flexcard styling*/
[data-omni-key="SelectExistingBeneficiariesShowExisitingBeneficiaries"]{
    padding-left:5px;
    padding-bottom: 15px;
    width: 98.6% !important;
    border: 1px solid #cccccc;
    border-radius: 0.25em;
    margin-top: -4px;
}
/*This is to apply border only to the highest division of flexcard*/
[data-omni-key="SelectExistingBeneficiariesShowExisitingBeneficiaries"] *{
    border: none;
}

/*Icon styling of edit block card*/
[data-omni-key="NewPrimaryBeneficiaries"] .slds-icon_large, [data-omni-key="NewContingentBeneficiaries"] .slds-icon_large{
    fill: #747474 !important;
    zoom: 75%;
    margin-right: 15px;
}

/*To reduce the space horizontally between 'Primary Beneficiaries' Header and info icon flexcard*/
[data-omni-key="ShowPrimaryBeneficiaries"]{
    width: 178px !important;
    padding-top: 1px !important;
}

/*To reduce the space horizontally between 'Contingent Beneficiaries' Header and info icon flexcard*/
[data-omni-key="ShowContingentBeneficiaries"]{
    width: 198px !important;
    padding-top: 1px !important;
}

/*Manage Beneficiaries Help Text Icon Flexcard styling*/
[data-omni-key="HelpTextContingentBeneficiary"]{
    width: 2px !important;
}

/*To reduce the space vertically between 'Primary Beneficiaries' Header and edit block*/
.omni-edit-block{
    margin-top: -30px;
}

/*Manage Beneficiaries Edit Share of New and contingent beneficiaries flexcard styling*/
[data-omni-key="AddAllocationDetailsEditNewBeneficiariesShare"],[data-omni-key="EditShareOfExistingandNewBeneficiaries"],[data-omni-key="AddAllocationDetailsEditContingentBeneficiariesShare"]{
    border: 1px solid #cccccc;
    border-radius: 0.25em;
    width: 98.7% !important;
    margin-top: -5px;
    padding-left: 10px;
    padding-bottom: 15px;
}
/*This is to apply border only to the highest division of flexcard*/
[data-omni-key="AddAllocationDetailsEditNewBeneficiariesShare"] *{
    border: none;
}
/*This is to apply border only to the highest division of flexcard*/
[data-omni-key="AddAllocationDetailsEditContingentBeneficiariesShare"] *{
    border: none;
}
/*This is to apply border only to the highest division of flexcard*/
[data-omni-key="EditShareOfExistingandNewBeneficiaries"] *{
    border: none;
}

/*To reduce the height of picklist dropdown*/
[data-omni-key="CountryCode"] .dropdown-container , [data-omni-key="ContingentBeneficiaryCountry"] .dropdown-container {
	max-height: 120px !important;
}

@media screen and (max-width: 768px) and (min-width: 480px) {
    /*To make stepchart labels visible to customers in Mobile/Tablet View*/
    [data-omni-key="omniscriptStepChart"] .slds-progress__step-label{
        text-overflow: clip !important;
        white-space: normal !important;
        text-align: center !important;
        margin-top: 2px !important;
    }
    /*Manage Beneficiaries Edit Share of New and contingent beneficiaries flexcard styling*/
    [data-omni-key="SelectExistingBeneficiariesShowExisitingBeneficiaries"],[data-omni-key="AddAllocationDetailsEditNewBeneficiariesShare"],[data-omni-key="EditShareOfExistingandNewBeneficiaries"],[data-omni-key="AddAllocationDetailsEditContingentBeneficiariesShare"]{
        width: 98.3% !important;
    }
    [data-omni-key="SelectAllBeneficiaries"],[data-omni-key="SelectAllAccounts"],[data-omni-key="DeselectAllBeneficiaries"],[data-omni-key="DeselectAllAccounts"]{
        text-align: left;
    }
}

@media screen and (max-width: 479px) {
    /*Manage Beneficiaries Edit Share of New and contingent beneficiaries flexcard styling*/
    [data-omni-key="SelectExistingBeneficiariesShowExisitingBeneficiaries"],[data-omni-key="AddAllocationDetailsEditNewBeneficiariesShare"],[data-omni-key="EditShareOfExistingandNewBeneficiaries"],[data-omni-key="AddAllocationDetailsEditContingentBeneficiariesShare"]{
        width: 97.3% !important;
    }
    [data-omni-key="SelectAllBeneficiaries"],[data-omni-key="SelectAllAccounts"],[data-omni-key="DeselectAllBeneficiaries"],[data-omni-key="DeselectAllAccounts"]{
        text-align: left;
    }
}