:root {
  --dxp-g-neutral-3: #666;
}

.comm-page-home .hero {
  margin-bottom: 60px;
  /* Media query for tablet devices */
  /* Media query for mobile devices */
}
.comm-page-home .hero .content {
  background-color: rgba(12, 15, 22, 0.6);
  border-radius: 10px;
  box-shadow: 0px 1px 6px 0px rgba(32, 33, 36, 0.28) inset;
  padding: 40px;
  /* Media query for tablet devices */
}
.comm-page-home .hero .content h2 {
  font-size: 28px;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.comm-page-home .hero .content p {
  font-size: 18px;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  .comm-page-home .hero .content {
    width: 80% !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  .comm-page-home .hero .bgImage {
    /* Adjust background position for tablet */
    background-position-x: -700px !important;
  }
}
@media only screen and (max-width: 480px) {
  .comm-page-home .hero .bgImage {
    /* Adjust background position for mobile */
    background-position-x: -1550px !important;
  }
}
.comm-page-home .cb-section.forceCommunitySection .cb-section_row {
  /* Media query for tablet devices */
  /* Media query for mobile devices */
}
@media only screen and (max-width: 960px) {
  .comm-page-home .cb-section.forceCommunitySection .cb-section_row .slds-large-size_8-of-12 {
    order: 2;
  }
  .comm-page-home .cb-section.forceCommunitySection .cb-section_row .slds-large-size_4-of-12 {
    order: 1;
  }
}
@media only screen and (max-width: 480px) {
  .comm-page-home .cb-section.forceCommunitySection .cb-section_row .slds-large-size_8-of-12 {
    order: 2;
  }
  .comm-page-home .cb-section.forceCommunitySection .cb-section_row .slds-large-size_4-of-12 {
    order: 1;
  }
}

.comm-page-custom-help-center {
  /* Media query for mobile devices */
}
.comm-page-custom-help-center .hero {
  margin-bottom: 60px;
}
.comm-page-custom-help-center .hero .content {
  background-color: rgba(12, 15, 22, 0.5);
  border-radius: 10px;
  box-shadow: 0px 1px 6px 0px rgba(32, 33, 36, 0.28) inset;
  padding: 40px;
  /* Media query for tablet devices */
}
.comm-page-custom-help-center .hero .content h2, .comm-page-custom-help-center .hero .content h1 {
  font-size: 32px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5) !important;
}
.comm-page-custom-help-center .hero .content .searchRegion {
  margin-top: 1rem;
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  .comm-page-custom-help-center .hero .content {
    width: 80% !important;
  }
}
@media only screen and (max-width: 960px) {
  .comm-page-custom-help-center .forceCommunitySection .cb-section_row .cb-section_column:only-child {
    margin: 0 auto;
    width: 90%;
  }
  .comm-page-custom-help-center .forceCommunitySection .cb-section_row .cb-section_column:only-child .contentImage {
    background-size: cover !important;
  }
}
.comm-page-custom-help-center .slds-tabs_default .slds-tabs_default__nav {
  border: none !important;
  margin-bottom: 20px;
}
.comm-page-custom-help-center .slds-tabs_default .slds-tabs_default__nav .slds-tabs_default__item {
  background-color: #F4F4F4;
  border-radius: 20px;
  padding: 0 15px;
}
.comm-page-custom-help-center .slds-tabs_default .slds-tabs_default__nav .slds-tabs_default__item:not(:first-child) {
  margin-left: 10px;
}
.comm-page-custom-help-center .slds-tabs_default .slds-tabs_default__nav .slds-tabs_default__item.slds-is-active {
  background-color: var(--lwc-colorBrand);
  border-radius: 20px;
  padding: 0 15px;
}
.comm-page-custom-help-center .slds-tabs_default .slds-tabs_default__nav .slds-tabs_default__item.slds-is-active --slds-c-tabs-item-text-color {
  color: #ffffff;
}
.comm-page-custom-help-center .slds-tabs_default .slds-tabs_default__nav .slds-tabs_default__item.slds-is-active .slds-tabs_default__link {
  color: #ffffff;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
}
.comm-page-custom-help-center .slds-tabs_default .slds-tabs_default__nav .slds-tabs_default__item.slds-is-active:after {
  height: 0;
}
.comm-page-custom-help-center .slds-tabs_default .slds-tabs_default__nav .slds-tabs_default__item:after {
  background-color: transparent;
}
.comm-page-custom-help-center .forceCommunityDynamicCollectionGrid .forceCommunityFlexTileLayout, .comm-page-custom-help-center .forceCommunityDynamicCollectionGrid .forceCommunityFlexTileLayout > .slds-grid {
  border-radius: 12px;
  border: none;
  box-shadow: 0px 1px 6px 0px rgba(153, 153, 153, 0.2);
}
.comm-page-custom-help-center .forceCommunityRecordListStandard h2.listTitle {
  display: none;
}
.comm-page-custom-help-center .forceCommunityDynamicCollectionGrid .resetMarginLeft .slds-text-heading_small {
  font-size: 14px !important;
}
.comm-page-custom-help-center .forceListRecord .tableRowGroup {
  /* Media query for mobile devices */
}
@media only screen and (max-width: 960px) {
  .comm-page-custom-help-center .forceListRecord .tableRowGroup {
    margin-bottom: 10px;
  }
}
.comm-page-custom-help-center .forceListRecord .itemTitle {
  /* Media query for mobile devices */
}
@media only screen and (max-width: 960px) {
  .comm-page-custom-help-center .forceListRecord .itemTitle {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.comm-page-custom-help-center .slds-large-size_4-of-12 .ui-widget:not(:last-child) {
  margin-bottom: 0 !important;
}
.comm-page-custom-help-center .slds-large-size_4-of-12 .js-content.forceCommunityTileLayout > div:first-child {
  background-color: transparent;
  border: none !important;
}
.comm-page-custom-help-center .slds-large-size_4-of-12 .js-content.forceCommunityTileLayout > div:first-child div.slds-p-around_medium {
  padding: 0;
}
.comm-page-custom-help-center .forceCommunityHtmlBlock .support-button, .comm-page-custom-help-center .forceCommunityHtmlBlock .register-button {
  display: block;
  width: 100%;
}
.comm-page-custom-help-center .forceCommunityHtmlBlock .support-button.slds-grid_align-center, .comm-page-custom-help-center .forceCommunityHtmlBlock .register-button.slds-grid_align-center {
  justify-content: flex-start;
}
.comm-page-custom-help-center .forceCommunityHtmlBlock .support-button button, .comm-page-custom-help-center .forceCommunityHtmlBlock .register-button button {
  border-radius: 4px;
  height: 32px;
  width: 100%;
}
.comm-page-custom-help-center .forceCommunityHtmlBlock .register-button {
  margin-top: 20px;
}
.comm-page-custom-help-center .need-support-container {
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 10px;
  display: flex;
  padding: 20px;
}
@media only screen and (max-width: 480px) {
  .comm-page-custom-help-center .need-support-container {
    margin-bottom: 40px;
  }
}
.comm-page-custom-help-center .need-support-container .slds-large-size_3-of-12 {
  padding-right: 20px;
  width: fit-content;
}
.comm-page-custom-help-center .need-support-container .slds-large-size_3-of-12 button.slds-button {
  min-width: 150px;
}
.comm-page-custom-help-center .need-support-container h4 {
  margin-bottom: 0 !important;
}
.comm-page-custom-help-center article.forceCommunityNbaWidget.slds-card {
  border: none;
  box-shadow: none;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.comm-page-custom-help-center article.forceCommunityNbaWidget.slds-card .slds-card__header {
  padding: 0;
}
.comm-page-custom-help-center article.forceCommunityNbaWidget.slds-card .slds-card__header h2 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 60px;
}
.comm-page-custom-help-center article.forceCommunityNbaWidget.slds-card .slds-card__body.slds-m-horizontal_x-small {
  margin-left: 0;
  margin-right: 0;
}
.comm-page-custom-help-center article.forceCommunityNbaWidget.slds-card .slds-card__body ul li .slds-box {
  background-color: #F4F4F4;
}
.comm-page-custom-help-center article.forceCommunityNbaWidget.slds-card .slds-card__body ul li .slds-m-horizontal_x-small {
  margin-left: 0;
  margin-right: 0;
}
.comm-page-custom-help-center article.forceCommunityNbaWidget.slds-card .slds-card__body ul li .nbaImage {
  height: 115px;
}

.comm-page-home, .comm-page-custom-help-center {
  /* Media query for tablet devices */
  /* Media query for mobile devices */
}
.comm-page-home [data-audience-name="Builder Only"] .forceCommunityRichText, .comm-page-custom-help-center [data-audience-name="Builder Only"] .forceCommunityRichText {
  background-position: bottom;
  background-repeat: repeat-x;
  background-color: #EEF4FF;
  border: 1px solid #C5D1E4;
  border-radius: 16px;
  box-shadow: 0px 24px 48px 8px rgba(0, 20, 45, 0.08);
  margin-bottom: 20px;
}
.comm-page-home [data-audience-name="Builder Only"] .forceCommunityRichText .uiOutputRichText, .comm-page-custom-help-center [data-audience-name="Builder Only"] .forceCommunityRichText .uiOutputRichText {
  padding: 20px 40px 40px;
}
.comm-page-home [data-audience-name="Builder Only"] .forceCommunityRichText .uiOutputRichText h1, .comm-page-custom-help-center [data-audience-name="Builder Only"] .forceCommunityRichText .uiOutputRichText h1 {
  color: #032D60;
  font-family: "Segoe UI";
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
.comm-page-home [data-audience-name="Builder Only"] .forceCommunityRichText .uiOutputRichText p em, .comm-page-custom-help-center [data-audience-name="Builder Only"] .forceCommunityRichText .uiOutputRichText p em {
  border: 1px solid #C5D1E4;
  border-radius: 10px;
  background: #CFE9FE;
  font-style: normal;
  padding: 10px 40px;
}
.comm-page-home [data-audience-name="Builder Only"] .forceCommunityRichText .uiOutputRichText ul, .comm-page-custom-help-center [data-audience-name="Builder Only"] .forceCommunityRichText .uiOutputRichText ul {
  line-height: 28px;
  padding: 5px 0px;
}
.comm-page-home .body .insights a:hover, .comm-page-custom-help-center .body .insights a:hover {
  text-decoration: none;
}
.comm-page-home .body .insights .insight-item, .comm-page-custom-help-center .body .insights .insight-item {
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  height: 160px;
  min-height: 160px;
  width: 180px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 10px;
}
.comm-page-home .body .insights .insight-item:hover, .comm-page-custom-help-center .body .insights .insight-item:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
}
.comm-page-home .body .insights .row-tile-item, .comm-page-custom-help-center .body .insights .row-tile-item {
  padding: 20px;
}
.comm-page-home .body .insights .row-tile-item h4, .comm-page-custom-help-center .body .insights .row-tile-item h4 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 300;
  font-style: normal;
}
.comm-page-home .body .insights .row-tile-item p, .comm-page-custom-help-center .body .insights .row-tile-item p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #666;
  font-weight: 400;
}
.comm-page-home .body .forceCommunitySection, .comm-page-custom-help-center .body .forceCommunitySection {
  margin-bottom: 60px;
}
.comm-page-home .body .forceCommunitySection .cb-section_column:only-child, .comm-page-custom-help-center .body .forceCommunitySection .cb-section_column:only-child {
  padding: 0;
}
.comm-page-home .body .forceCommunitySection .cb-section_column:nth-child(2) ul.js-content-metadata, .comm-page-custom-help-center .body .forceCommunitySection .cb-section_column:nth-child(2) ul.js-content-metadata {
  display: none;
}
.comm-page-home .body .forceCommunitySection .imageZoomIn .slds-grid_vertical-align-center, .comm-page-custom-help-center .body .forceCommunitySection .imageZoomIn .slds-grid_vertical-align-center {
  justify-content: left;
}
.comm-page-home .body .forceCommunitySection .imageZoomIn .slds-grid_vertical-align-center .js-content, .comm-page-custom-help-center .body .forceCommunitySection .imageZoomIn .slds-grid_vertical-align-center .js-content {
  background-color: rgba(12, 15, 22, 0.6);
  border-radius: 10px;
  padding: 40px;
  /* Media query for desktop devices */
  /* Media query for tablet devices */
  /* Media query for mobile devices */
}
@media only screen and (min-width: 961px) {
  .comm-page-home .body .forceCommunitySection .imageZoomIn .slds-grid_vertical-align-center .js-content, .comm-page-custom-help-center .body .forceCommunitySection .imageZoomIn .slds-grid_vertical-align-center .js-content {
    margin-left: 10%;
    width: 50% !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  .comm-page-home .body .forceCommunitySection .imageZoomIn .slds-grid_vertical-align-center .js-content, .comm-page-custom-help-center .body .forceCommunitySection .imageZoomIn .slds-grid_vertical-align-center .js-content {
    margin-left: 40px;
    width: 80% !important;
  }
}
@media only screen and (max-width: 480px) {
  .comm-page-home .body .forceCommunitySection .imageZoomIn .slds-grid_vertical-align-center .js-content, .comm-page-custom-help-center .body .forceCommunitySection .imageZoomIn .slds-grid_vertical-align-center .js-content {
    margin-left: 0;
    width: 100% !important;
  }
}
.comm-page-home .body .forceCommunitySection .sdo-energy-playlist, .comm-page-custom-help-center .body .forceCommunitySection .sdo-energy-playlist {
  padding: 24px 12px 24px 24px;
}
.comm-page-home .body .forceCommunitySection .sdo-energy-playlist .visit-youtube, .comm-page-custom-help-center .body .forceCommunitySection .sdo-energy-playlist .visit-youtube {
  margin-top: 40px;
}
.comm-page-home .body .forceCommunitySection .sdo-energy-playlist .visit-youtube .fa-youtube, .comm-page-custom-help-center .body .forceCommunitySection .sdo-energy-playlist .visit-youtube .fa-youtube {
  font-size: 18px;
  font-size: 1.125rem;
  color: #F00;
  margin-right: 10px;
}
.comm-page-home .body .forceCommunitySection .js-dynamic-collection .forceCommunityDynamicCollectionGrid, .comm-page-custom-help-center .body .forceCommunitySection .js-dynamic-collection .forceCommunityDynamicCollectionGrid {
  /* Media query for tablet devices */
  /* Media query for mobile devices */
}
.comm-page-home .body .forceCommunitySection .js-dynamic-collection .forceCommunityDynamicCollectionGrid .mediaContainer, .comm-page-custom-help-center .body .forceCommunitySection .js-dynamic-collection .forceCommunityDynamicCollectionGrid .mediaContainer {
  margin-bottom: 20px;
  margin-right: 20px;
  width: 100px !important;
}
.comm-page-home .body .forceCommunitySection .js-dynamic-collection .forceCommunityDynamicCollectionGrid .resetMarginLeft, .comm-page-custom-help-center .body .forceCommunitySection .js-dynamic-collection .forceCommunityDynamicCollectionGrid .resetMarginLeft {
  gap: 0;
}
.comm-page-home .body .forceCommunitySection .js-dynamic-collection .forceCommunityDynamicCollectionGrid .slds-no-space, .comm-page-custom-help-center .body .forceCommunitySection .js-dynamic-collection .forceCommunityDynamicCollectionGrid .slds-no-space {
  padding: 0 !important;
}
.comm-page-home .body .forceCommunitySection .js-dynamic-collection .forceCommunityDynamicCollectionGrid .slds-no-space .js-content-eyebrow, .comm-page-custom-help-center .body .forceCommunitySection .js-dynamic-collection .forceCommunityDynamicCollectionGrid .slds-no-space .js-content-eyebrow {
  margin-top: 0 !important;
}
@media only screen and (max-width: 480px) {
  .comm-page-home .body .forceCommunitySection .js-dynamic-collection .forceCommunityDynamicCollectionGrid .forceCommunityCardLayout .container, .comm-page-custom-help-center .body .forceCommunitySection .js-dynamic-collection .forceCommunityDynamicCollectionGrid .forceCommunityCardLayout .container {
    flex-direction: row !important;
    margin-bottom: 20px;
  }
}
.comm-page-home .body .forceCommunitySection .js-dynamic-collection .forceCommunityCarousel, .comm-page-custom-help-center .body .forceCommunitySection .js-dynamic-collection .forceCommunityCarousel {
  margin: 0 auto;
  max-width: 535px;
  padding-bottom: 24px;
  padding-right: 24px;
  padding-top: 24px;
}
.comm-page-home .body .forceCommunitySection .js-dynamic-collection .forceCommunityCarousel a.previousAction, .comm-page-custom-help-center .body .forceCommunitySection .js-dynamic-collection .forceCommunityCarousel a.previousAction {
  margin-right: 20px;
}
.comm-page-home .body .forceCommunitySection .js-dynamic-collection .forceCommunityCarousel a.nextAction, .comm-page-custom-help-center .body .forceCommunitySection .js-dynamic-collection .forceCommunityCarousel a.nextAction {
  margin-left: 20px;
}
.comm-page-home .body .forceCommunitySection .sdo-home-schedule, .comm-page-custom-help-center .body .forceCommunitySection .sdo-home-schedule {
  padding-bottom: 32px;
  padding-top: 32px;
}
.comm-page-home .body .forceCommunitySection .sdo-home-schedule.left-col, .comm-page-custom-help-center .body .forceCommunitySection .sdo-home-schedule.left-col {
  padding-left: 24px;
  padding-right: 20px;
}
.comm-page-home .body .forceCommunitySection .sdo-home-schedule.right-col, .comm-page-custom-help-center .body .forceCommunitySection .sdo-home-schedule.right-col {
  padding-left: 20px;
  padding-right: 24px;
}
.comm-page-home .body .forceCommunitySection .sdo-home-schedule h2, .comm-page-custom-help-center .body .forceCommunitySection .sdo-home-schedule h2 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 10px;
}
.comm-page-home .body .forceCommunitySection .sdo-home-schedule p, .comm-page-custom-help-center .body .forceCommunitySection .sdo-home-schedule p {
  font-size: 14px;
  font-size: 0.875rem;
}
.comm-page-home .body .forceCommunitySection .sdo-home-schedule .slds-button, .comm-page-custom-help-center .body .forceCommunitySection .sdo-home-schedule .slds-button {
  margin-top: 20px;
}
.comm-page-home .forceCommunityRichText .uiOutputRichText h1, .comm-page-home .forceCommunityRichText .uiOutputRichText h2, .comm-page-home .forceCommunityRichText .uiOutputRichText h3, .comm-page-home .forceCommunityRichText .uiOutputRichText h4, .comm-page-home .forceCommunityRichText .uiOutputRichText h5, .comm-page-custom-help-center .forceCommunityRichText .uiOutputRichText h1, .comm-page-custom-help-center .forceCommunityRichText .uiOutputRichText h2, .comm-page-custom-help-center .forceCommunityRichText .uiOutputRichText h3, .comm-page-custom-help-center .forceCommunityRichText .uiOutputRichText h4, .comm-page-custom-help-center .forceCommunityRichText .uiOutputRichText h5 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 10px;
}
.comm-page-home .account-list-container, .comm-page-custom-help-center .account-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(183px, 1fr));
  /* Media query for mobile devices */
  /* Media query for mobile devices */
}
@media only screen and (min-width: 481px) {
  .comm-page-home .account-list-container, .comm-page-custom-help-center .account-list-container {
    gap: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .comm-page-home .account-list-container, .comm-page-custom-help-center .account-list-container {
    gap: 30px;
  }
}
.comm-page-home .account-list-container .list-container h1, .comm-page-home .account-list-container .list-container h2, .comm-page-home .account-list-container .list-container h3, .comm-page-home .account-list-container .list-container h4, .comm-page-home .account-list-container .list-container h5, .comm-page-custom-help-center .account-list-container .list-container h1, .comm-page-custom-help-center .account-list-container .list-container h2, .comm-page-custom-help-center .account-list-container .list-container h3, .comm-page-custom-help-center .account-list-container .list-container h4, .comm-page-custom-help-center .account-list-container .list-container h5 {
  font-size: 14px;
  font-size: 0.875rem;
  border-bottom: 1px solid #DDDDDD;
  font-weight: 700;
  padding-bottom: 5px;
}
.comm-page-home .account-list-container .list-container h1 i, .comm-page-home .account-list-container .list-container h2 i, .comm-page-home .account-list-container .list-container h3 i, .comm-page-home .account-list-container .list-container h4 i, .comm-page-home .account-list-container .list-container h5 i, .comm-page-custom-help-center .account-list-container .list-container h1 i, .comm-page-custom-help-center .account-list-container .list-container h2 i, .comm-page-custom-help-center .account-list-container .list-container h3 i, .comm-page-custom-help-center .account-list-container .list-container h4 i, .comm-page-custom-help-center .account-list-container .list-container h5 i {
  color: var(--lwc-colorBrand);
  margin-right: 3px;
}
.comm-page-home .account-list-container .list-container ul.no-bullets, .comm-page-custom-help-center .account-list-container .list-container ul.no-bullets {
  list-style-type: none; /* Remove bullets */
}
.comm-page-home .account-list-container .list-container li, .comm-page-custom-help-center .account-list-container .list-container li {
  padding: 4px 0;
}
.comm-page-home .footer, .comm-page-custom-help-center .footer {
  background-color: rgba(28, 28, 28, 0.9);
  color: #ffffff;
  padding: 20px 0;
}
.comm-page-home .footer a, .comm-page-custom-help-center .footer a {
  color: #ffffff !important;
}
.comm-page-home .footer .footer-container, .comm-page-custom-help-center .footer .footer-container {
  align-items: center; /* Vertically centers children */
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}
.comm-page-home .footer .footer-container .col, .comm-page-custom-help-center .footer .footer-container .col {
  box-sizing: border-box;
  margin: 10px;
}
.comm-page-home .footer .footer-container .col:nth-child(2), .comm-page-custom-help-center .footer .footer-container .col:nth-child(2) {
  flex: 1;
}
.comm-page-home .footer .footer-container .links, .comm-page-custom-help-center .footer .footer-container .links {
  text-align: center;
}
.comm-page-home .footer .footer-container .social-media, .comm-page-custom-help-center .footer .footer-container .social-media {
  justify-content: right;
}
.comm-page-home .footer .footer-container .social-media .fa-brands, .comm-page-custom-help-center .footer .footer-container .social-media .fa-brands {
  font-size: 18px;
  font-size: 1.125rem;
  margin-right: 10px;
}
@media only screen and (max-width: 768px) {
  .comm-page-home .footer .footer-container, .comm-page-custom-help-center .footer .footer-container {
    flex-direction: column; /* Change to a column layout */
    align-items: stretch; /* Stretch children to fill width */
  }
}
@media only screen and (max-width: 480px) {
  .comm-page-home .footer .footer-container, .comm-page-custom-help-center .footer .footer-container {
    padding: 0 40px;
  }
  .comm-page-home .footer .footer-container .col, .comm-page-custom-help-center .footer .footer-container .col {
    width: 100% !important; /* Set full width for all columns */
    text-align: center !important; /* Center align text */
    margin: 10px 0; /* Adjust margin */
  }
}