/*Account Type Picklist Height*/
[data-omni-key="OwnershipType"] .dropdown-container{
	max-height: 200px !important;
}

/*Icon styling of edit block card*/
[data-omni-key="TransferDetailsInvestment"] .slds-icon_large, [data-omni-key="TransferDetailsMutualFunds"] .slds-icon_large{
    fill: #747474 !important;
    zoom: 75%;
    margin-right: 15px;
}

/*Add shadow to the edit block card to indicate that it's an editable card */
[data-omni-key="TransferDetailsInvestment"] > div > div > div, [data-omni-key="TransferDetailsMutualFunds"] > div > div > div {
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
}

/*To reduce the space vertically between 'Primary Beneficiaries' Header and edit block*/
.omni-edit-block{
    margin-top: -11px;
}

/*Currency Code Picklist Height*/
[data-omni-key="FinancialInstitutionCountry"] .dropdown-container, [data-omni-key="Currency"] .dropdown-container, [data-omni-key="SecurityCurrencyCode"] .dropdown-container{
	max-height: 180px !important;
}

/*Cash Block for Brokerage type styling*/
[data-omni-key="CashInvestment"]{
	border: 1px solid #E5E5E5;
	border-radius: 4px;
	box-shadow: 1px 1px #ECEBEA;
	margin-bottom: 30px !important;
	margin-top: 15px !important;
	margin-left: 23px;
	width: 98% !important;
}

/*SecurityInvestment Checkbox styling*/
[data-omni-key="SecurityInvestment"]{
	margin-top: -20px !important;
}

/*CashBalanceText block styling*/
[data-omni-key="CashBalanceText"]{
	margin-top: 30px !important;
	margin-right: -1.5em;
}

/*TransferDetailsInvestment edit block styling*/
[data-omni-key="TransferDetailsInvestment"]{
	margin-left: 23px;
	margin-top: -15px !important;
}

/*SecuritiesNumberOfUnits text box styling*/
[data-omni-key="SecuritiesNumberOfUnits"]{
	margin-top: 24px;
}

/*NumberOfMutualFundUnits text box styling*/
[data-omni-key="NumberOfMutualFundUnits"]{
	margin-top: 10px;
}

/*Currency text box styling*/
[data-omni-key="Currency"]{
    margin-left: 1.5em;
}

/*SecurityQuantity text box styling*/
[data-omni-key="SecurityQuantity"]{
    margin-right: -25px;
	margin-top:4px;
}

/*TransferAgentQuantity text box styling*/
[data-omni-key="TransferAgentQuantity"],[data-omni-key="MaturityDate"],[data-omni-key="AnnuityDate"]{
	margin-left: 2em;
	margin-top: 0.5em;
}

[data-omni-key="Cash"]{
	margin-top: -10px;
}

@media screen and (max-width: 768px) {
	/*To make stepchart labels visible to customers in Mobile/Tablet View*/
	[data-omni-key="omniscriptStepChart"] .slds-progress__step-label{
		text-overflow: clip !important;
		white-space: normal !important;
		text-align: center !important;
		margin-top: 2px !important;
	}

	/*Cash Block for Brokerage type styling*/
	[data-omni-key="CashInvestment"]{
		width: 90% !important;
	}

	/*CashBalance text block styling*/
	[data-omni-key="CashBalance"]{
		margin-top: 0px !important;
	}
}
