/*FSC Manage Standing Instructions Fetch Instructions button*/
[data-omni-key="GetLatestData"]{
    margin: auto;
    margin-top: -25px;
}

[data-omni-key="GetLatestData"] .slds-button_brand{
    --sds-c-button-brand-color-background: white !important;
    --sds-c-button-brand-text-color: #0176D3 !important;
    --sds-c-button-brand-border-color: #0176D3 !important;
    margin: auto !important;
}
/*FSC Manage Standing Instructions Fetch Instructions button styling when hovered over*/
[data-omni-key="GetLatestData"] .slds-button_brand:hover, .slds-button_brand:focus{
    background-color: white !important;
    border-color: #0176D3 !important;
    color: #0176D3 !important;
}
/*FSC Manage Standing Instructions Fetch Instructions button*/
[data-omni-key="GetLatestData"]{
    padding-left: 8px !important;
   /* width: 221px !important;*/
   width: auto !important;
}
/*FSC Manage Standing Instructions Remarks field*/
[data-omni-key="Remarks"]{
    padding-left: 24px;
    margin-top: -12px !important;
}
/*FSC Manage Standing Instructions Add details read only fields*/
[data-omni-key="UpdateStandingInstructionPayee"] .slds-input,[data-omni-key="UpdateStandingInstructionCurrency"] .slds-input,
[data-omni-key="UpdateStandingInstructionRoutingNumber"] .slds-input,[data-omni-key="UpdateStandingInstructionAccountNumber"] .slds-input,
[data-omni-key="CancelStandingInstructionPayee"] .slds-input,[data-omni-key="CancelStandingInstructionCurrency"] .slds-input,
[data-omni-key="CancelStandingInstructionAmount"] .slds-input,[data-omni-key="CancelStandingInstructionRoutingNumber"] .slds-input,
[data-omni-key="CancelSectionCancelStandingInstructionAccountNumberAccountNumber"] .slds-input,[data-omni-key="CancelStandingInstructionStartDate"] .slds-input,
[data-omni-key="CancelSectionCancelStandingInstructionFrequencyFrequency"] .slds-input,[data-omni-key="CancelStandingInstructionNumberOfInstallments"] .slds-input,
[data-omni-key="CancelStandingInstructionEndDate"] .slds-input{
	padding-left: 10px !important;
}
/* FSC Confirmation Text Blocks*/
[data-omni-key="ConfirmationMessageBlock"]{
    margin-left:12px;
} 
[data-omni-key="CaseDetailBlock"]{
    margin-left:12px;
}
@media screen and (max-width: 768px) {
    /*FSC Manage Standing Instructions Remarks field*/
    [data-omni-key="Remarks"]{
        padding-left: 24px;
        padding-right: 30px !important;
        margin-top: -12px !important;
    }
	/*To make stepchart labels visible to customers in Mobile/Tablet View*/
	[data-omni-key="omniscriptStepChart"] .slds-progress__step-label{
		text-overflow: clip !important;
		white-space: normal !important;
		text-align: center !important;
		margin-top: 2px !important;
	}
}
