[app_flexipage-header_header-host]{
    display:none;
}

.slds-template_default{
    padding:0px !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

[data-component-id="flowruntime_interview1"] { 
    padding: 0 1rem 1rem 1rem;
    margin-top: -0.5rem;
}


