/*FSC Travel Notification Destination Selection Domestic Checkbox*/
[data-omni-key="Domestic"]{
	margin-top: -10px;
	margin-bottom: -10px !important;
}
/*FSC Travel Notification Destination Selection International Checkbox*/
[data-omni-key="International"]{
	margin-top: -10px;
	margin-bottom: -10px !important;
}
/*FSC Travel Notification Communication Preference Email Checkbox and Value*/
[data-omni-key="Email"]{
	margin-top: -10px;
	margin-bottom: -10px !important;
}
[data-omni-key="accountEmailValue"]{
    margin-top: -13px;
}
/*FSC Travel Notification Communication Preference Phone Checkbox and Value*/
[data-omni-key="Phone"]{
	margin-top: -10px;
	margin-bottom: -10px !important;
}
[data-omni-key="accountPhoneValue"]{
    margin-top: -13px;
}
/*FSC Travel Notification Communication Preference Mobile Checkbox and Value*/
[data-omni-key="Mobile"]{
	margin-top: -10px;
	margin-bottom: -10px !important;
}
[data-omni-key="AccountMobileValue"]{
    margin-top: -13px;
}
/*FSC Travel Notification Communication Preference Alternate Phone Checkbox*/
[data-omni-key="AlternatePhone"]{
	margin-top: -10px;
	margin-bottom: -10px !important;
}
/*FSC Travel Notification Communication Preference Alternate Phone Country Code Picklist Height*/
[data-omni-key="CountryCode"] .dropdown-container{
	max-height: 120px !important;
}
/*FSC Travel Notification Duration formula*/
[data-omni-key="Duration"] .slds-input{
	padding-left: 10px !important;
}

/*FSC Travel Notification Selected destinations summary*/
[data-omni-key="showSelectedDestinationInfo"]{
	margin-top: -28px !important;
	margin-left: -1px !important;
}

/*FSC Travel Notification Summary States and countries*/
[data-omni-key="SelectedStates"],[data-omni-key="SelectedCountries"]{
    padding-left:7px !important;
} 

/* FSC Confirmation Text Blocks*/
[data-omni-key="ConfirmationMessageBlock"]{
    margin-left:12px;
} 
[data-omni-key="CaseDetailBlock"]{
    margin-left:12px;
}

@media screen and (max-width: 768px) {
	/*FSC Travel Notification Destination Selection Domestic Checkbox*/
	[data-omni-key="Domestic"]{
		margin-top: -10px;
		margin-bottom: -10px !important;
	}
	/*FSC Travel Notification Destination Selection International Checkbox*/
	[data-omni-key="International"]{
		margin-top: -10px;
		margin-bottom: -10px !important;
	}
	/*FSC Travel Notification Communication Preference Email Checkbox and Value*/
	[data-omni-key="Email"]{
		margin-top: -10px;
		margin-bottom: -10px !important;
	}
	[data-omni-key="accountEmailValue"]{
		margin-top: -25px;
    	margin-left: 24px;
	}
	/*FSC Travel Notification Communication Preference Phone Checkbox and Value*/
	[data-omni-key="Phone"]{
		margin-top: -10px;
		margin-bottom: -10px !important;
	}
	[data-omni-key="accountPhoneValue"]{
		margin-top: -25px;
    	margin-left: 24px;
	}
	/*FSC Travel Notification Communication Preference Mobile Checkbox and Value*/
	[data-omni-key="Mobile"]{
		margin-top: -10px;
		margin-bottom: -10px !important;
	}
	/*FSC Travel Notification Communication Preference Alternate Phone Checkbox*/
	[data-omni-key="AccountMobileValue"]{
		margin-top: -25px;
    	margin-left: 24px;
	}
	[data-omni-key="AlternatePhone"]{
		margin-top: -10px;
		margin-bottom: -10px !important;
	}
	/*FSC Travel Notification Communication Preference Alternate Phone Country Code Picklist Height*/
	[data-omni-key="CountryCode"] .dropdown-container{
		max-height: 120px !important;
	}
	/*To make stepchart labels visible to customers in Mobile/Tablet View*/
	[data-omni-key="omniscriptStepChart"] .slds-progress__step-label{
		text-overflow: clip !important;
		white-space: normal !important;
		text-align: center !important;
		margin-top: 2px !important;
	}
	/*FSC Travel Notification Departure Date of Summary Screen*/
	[data-omni-key="TextBlock10"]{
		margin-bottom: 20px !important;
	}
}
