[data-omni-key='ipGetPostgreSQLButton'] {padding-top:19px !important;}
[data-omni-key='disSectionII'] .slds-box.vlc-slds-box__no-border .slds-box:first-of-type {display:none !important;}
[data-omni-key='selSection'] abbr {display:none !important;}
[data-omni-key='msCaseTypes'] span.slds-checkbox {padding-right:60px !important;}
[data-omni-key='msCaseTypes'] {padding-bottom:10px}
