/*FSC Report and Reissue Card outline for replacement cards block*/
[data-omni-key="CardReplacementBlock"]{
    border: 1px solid #c8c8c8;
}
/*FSC Report and Reissue Card Select All button styling*/
[data-omni-key="SelectAllCardsAction"] .slds-button_brand{
    --sds-c-button-brand-color-background: white !important;
    --sds-c-button-brand-text-color: #0176D3 !important;
    --sds-c-button-brand-border-color: #0176D3 !important;
    padding-right: inherit;
    padding-left: inherit;
}

/* FSC Confirmation Text Blocks*/
[data-omni-key="ConfirmationMessageBlock"]{
    margin-left:12px;
} 
[data-omni-key="CaseDetailBlock"]{
    margin-left:12px;
}
/*FSC Report and Reissue Card Select All button styling when hovered over*/
[data-omni-key="SelectAllCardsAction"] .slds-button_brand:hover, .slds-button_brand:focus{
    background-color: white !important;
    border-color: #0176D3 !important;
    color: #0176D3 !important;
}

@media screen and (max-width: 768px) {
	/*To make stepchart labels visible to customers in Mobile/Tablet View*/
	[data-omni-key="omniscriptStepChart"] .slds-progress__step-label{
		text-overflow: clip !important;
		white-space: normal !important;
		text-align: center !important;
		margin-top: 2px !important;
	}
}
