/*FSC Request Statement Copies date picker Height*/
[data-omni-key="StartDate"] .dropdown-container{
	max-height: 120px !important;
}
[data-omni-key="EndDate"] .dropdown-container{
	max-height: 120px !important;
}
/* FSC Confirmation Text Blocks*/
[data-omni-key="ConfirmationMessageBlock"]{
    margin-left:12px;
} 
[data-omni-key="CaseDetailBlock"]{
    margin-left:12px;
}
[data-omni-key="Email"]{
    margin-top: -10px;
    margin-bottom: -10px !important;
}
@media screen and (max-width: 768px) {
	/*To make stepchart labels visible to customers in Mobile/Tablet View*/
	[data-omni-key="omniscriptStepChart"] .slds-progress__step-label{
		text-overflow: clip !important;
		white-space: normal !important;
		text-align: center !important;
		margin-top: 2px !important;
	}
}