/*Currency Code Picklist Height*/
[data-omni-key="CurrencyCode"] .dropdown-container, [data-omni-key="RMDMissedYearsTax"] .dropdown-container{
	max-height: 180px !important;
}
/*New EFT Account Block css*/
[data-omni-key="TemporaryEFTBlock"]{
    border-left: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    box-shadow: 1px 0px #ECEBEA;
}
[data-omni-key="DocumentsUpload"]{
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    box-shadow: 1px 0px #ECEBEA;
    margin-top: -25px;
}
[data-omni-key="ValidDocumentTypes"]{
    border-left: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    box-shadow: 1px 1px #ECEBEA;
    margin-top: -30px;
    margin-bottom: 30px !important;
}
/*Check Block css*/
[data-omni-key="CheckBlock"],[data-omni-key="ExistingEFTBlock"]{
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    box-shadow: 1px 1px #ECEBEA;
    margin-top: 7px;
    /*padding-bottom: 20px;*/
}

/*OwnersState Picklist Height*/
[data-omni-key="OwnersState"] .dropdown-container{
	max-height: 200px !important;
}

/*CashBalanceText block styling*/
[data-omni-key="CashBalanceText"]{
	margin-top: 30px !important;
	margin-right: -1.5em;
}

/* FSC Confirmation Text Blocks*/
[data-omni-key="ConfirmationMessageBlock"]{
    margin-left:12px;
} 
[data-omni-key="CaseDetailBlock"]{
    margin-left:12px;
}

@media screen and (max-width: 768px) {
/*To make stepchart labels visible to customers in Mobile/Tablet View*/
[data-omni-key="omniscriptStepChart"] .slds-progress__step-label{
    text-overflow: clip !important;
    white-space: normal !important;
    text-align: center !important;
    margin-top: 2px !important;
}

/*CashBalanceText block styling*/
[data-omni-key="CashBalanceText"]{
margin-top: 0px !important;
}
}