/*FSC Transfer Funds to Own Account Check Balance button*/
[data-omni-key="GetTransferFromBalance"] .slds-button_brand{
    --sds-c-button-brand-color-background: white !important;
    --sds-c-button-brand-text-color: #0176D3 !important;
    --sds-c-button-brand-border-color: #0176D3 !important;
    margin-top: 19px;
    width: auto;
}

/*FSC Transfer Funds to Own Account button styling when hovered over*/
[data-omni-key="GetTransferFromBalance"] .slds-button_brand:hover, .slds-button_brand:focus{
    background-color: white !important;
    border-color: #0176D3 !important;
    color: #0176D3 !important;
}
/*FSC Transfer Funds to Own Account Savings/Checking account One time selection radio block*/
[data-omni-key="OneTimeSelectionBlock"] .slds-form-element__label{
    margin-top: -25px !important;
}
/*FSC Transfer Funds to Own Account Savings/Checking account recurring selection radio block*/
[data-omni-key="RecurringTransferSectionBlock"] {
    border: 1px solid #c9c9c9;
    border-radius: 6px;
    margin-left: 22px;
    width: 90% !important;
}
/*To make text of Amount field on Add transfer detail page to bold */
[data-omni-key="TransferAmount"] .slds-form-element__label, [data-omni-key="Currency"] .slds-form-element__label{
    font-weight: bold;
    margin-top: -10px;
}
/* To align Add transfer detail page for Account Type other than Credit/Loan*/
[data-omni-key="Remarks"],[data-omni-key="SourceAndDestinationAccount"],[data-omni-key="Currency"],[data-omni-key="TransferMode"]{
    padding-left: 8px;
}
[data-omni-key="CreditCardDuesPaymentOption"],[data-omni-key="LoanPaymentOption"]{
    margin: 15px;
}
[data-omni-key="RecurringTransferSection"]{
    padding-left: 21px;
}

/*FSC Add transfer detail page read only currency field*/
[data-omni-key="Currency"] .slds-input{
	padding-left: 10px !important;
}

/*FSC Add transfer detail page Loan Recurring Amount Currency field*/
[data-omni-key="LoanPaymentCurrency"]{
    padding: 5px 15px 0px 40px;
}
[data-omni-key="LoanPaymentAmount"]{
    width: 40% !important;
}
/* FSC Confirmation Text Blocks*/
[data-omni-key="ConfirmationMessageBlock"]{
    margin-left:12px;
} 
[data-omni-key="CaseDetailBlock"]{
    margin-left:12px;
}
@media screen and (max-width: 768px) {
    /*FSC Transfer Funds to Own Account Savings/Checking account recurring selection radio block*/
    [data-omni-key="RecurringTransferSectionBlock"] {
        border: 1px solid #c9c9c9;
        border-radius: 6px;
        margin-left: 22px;
        width: 90% !important;
    }
    /* To align Add transfer detail page for Account Type other than Credit/Loan*/
    [data-omni-key="TransferAmount"]{
        padding-left: 8px !important;
    }
    /*To make text of Amount field on Add transfer detail page to bold */
    [data-omni-key="TransferAmount"] .slds-form-element__label, [data-omni-key="Currency"] .slds-form-element__label{
        font-weight: bold;
        margin-top: 0px !important;
    }
    /*FSC Transfer Funds to Own Account Check Balance button*/
    [data-omni-key="GetTransferFromBalance"] .slds-button_brand{
        --sds-c-button-brand-color-background: white !important;
        --sds-c-button-brand-text-color: #0176D3 !important;
        --sds-c-button-brand-border-color: #0176D3 !important;
        margin-top: 0px !important;
        width: 165px;
    }
	/*To make stepchart labels visible to customers in Mobile/Tablet View*/
	[data-omni-key="omniscriptStepChart"] .slds-progress__step-label{
		text-overflow: clip !important;
		white-space: normal !important;
		text-align: center !important;
		margin-top: 2px !important;
	}
}
