/*FSC Update Email or Phone Communication Preference Email Checkbox and Value*/
[data-omni-key="Email"]{
	margin-top: -20px;
	margin-bottom: 10px !important;
}
[data-omni-key="contactEmailValue"]{
    margin-top: -4px;
}
/*FSC Update Email or Phone Communication Preference Phone Checkbox and Value*/
[data-omni-key="Phone"]{
	margin-top: -20px;
	margin-bottom: 10px !important;
}
[data-omni-key="contactPhoneValue"]{
    margin-top: -2px;
}
/*FSC Update Email or Phone Communication Preference Mobile Checkbox and Value*/
[data-omni-key="Mobile"]{
	margin-top: -30px;
	margin-bottom: -10px !important;
}
[data-omni-key="contactMobileValue"]{
    margin-top: -11px;
}
/*FSC Update Email or Phone, Phone Country Code Picklist Height*/
[data-omni-key="PhoneCountryCode"] .dropdown-container{
	max-height: 105px !important;
}
/*FSC Update Email or Phone, Mobile Country Code Picklist Height*/
[data-omni-key="MobileCountryCode"] .dropdown-container{
	max-height: 105px !important;
}

/* FSC Confirmation Text Blocks*/
[data-omni-key="ConfirmationMessageBlock"]{
    margin-left:12px;
} 
[data-omni-key="CaseDetailBlock"]{
    margin-left:12px;
}

@media screen and (max-width: 768px) {
	/*FSC Update Email or Phone Communication Preference Email Checkbox and Value*/
	[data-omni-key="Email"]{
		margin-top: -20px;
		margin-bottom: 10px !important;
	}
	[data-omni-key="contactEmailValue"]{
		margin-top: -23px;
		margin-left: 23px;
		margin-bottom: 20px !important;
	}
	/*FSC Update Email or Phone Communication Preference Phone Checkbox and Value*/
	[data-omni-key="Phone"]{
		margin-top: -20px;
		margin-bottom: 10px !important;
	}
	[data-omni-key="contactPhoneValue"]{
		margin-top: -23px;
		margin-bottom: 20px !important;
		margin-left: 23px;
	}
	/*FSC Update Email or Phone Communication Preference Mobile Checkbox and Value*/
	[data-omni-key="Mobile"]{
		margin-top: -30px;
		margin-bottom: -10px !important;
	}
	/*FSC Update Email or Phone Communication Preference Alternate Phone Checkbox*/
	[data-omni-key="contactMobileValue"]{
		margin-top: -3px;
		margin-left: 23px;
	}
	/*To make stepchart labels visible to customers in Mobile/Tablet View*/
	[data-omni-key="omniscriptStepChart"] .slds-progress__step-label{
		text-overflow: clip !important;
		white-space: normal !important;
		text-align: center !important;
		margin-top: 2px !important;
	}
}
